*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.tabla{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 70%;
    margin-top: 2%;
}
.tabla1{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
    margin-top: 2%;
}
body{
    background-repeat: no-repeat;
    background-size: cover;
}
.video video{
    border-radius: 3%;
    box-shadow: 7px 13px 35px black;
    padding-left: 20px;
    padding-right: 20px;
}
.cuerpoT tr td p{
    padding: 0;
    margin: 0;
    text-align: center;
}
.cuerpoT tr td img{
    display: flex;
    flex-direction: column;
    margin: auto;
} 
.navbar div h6 a{
    text-decoration: none;
}
.imgEqLocal {
    height: 30px;
    width: 30px;
}
.Equipos {
    text-align: left !important;
}
.Equip {
    text-align: left !important;
}
tr:hover{
    scale: 1.05;
}
.escudos{
    display: flex;
}
.imgLocal{
    width: 30px;
    height: 30px;
}
.busqueda{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
    padding-top: 15px;
}
.busqueda div{
    padding-right: 20px;
}
.results {
    display: flex;
    margin: auto;
}
.tabla2{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 90%;
    margin-top: 2%;
}
.buscar{
    padding-left: 10px;
    padding-right: 10px;
}
.busquedas{
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: auto;
    padding-top: 15px;
}
.buttons{
    display: flex;
    flex-direction: row;
    margin: auto;

}
.botones2{
    display: flex;
    margin: auto;
    margin-top: 10px;
}
.botones2 .but1{
    margin-right: 10%;
}
.alert{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 70%;
    margin-top: 15px;
}


.lds-spinner {
    color: official;
    /* display: inline-block; */
    position: relative;
    margin: auto;
    width: 80px;
    height: 80px;
  }
  .lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
  }
  .lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: #fff;
  }
  .lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
  }
  .lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
  }
  .lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
  }
  .lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
  }
  .lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
  }
  .lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
  }
  .lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
  }
  .lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
  }
  .lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
  }
  .lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
  }
  .lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
  }
  .lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
  }
  @keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  